.basic-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 160px;
}

.basic-animation__bar {
  height: 80px;
  background-color: var(--color-black);
  margin: 30px;
  transition: width 500ms cubic-bezier(0.5, 0.01, 0, 1);
}
