.slider {
  display: flex;
  opacity: 1;
}

.slider--horizontal {
  flex-direction: column;
  gap: var(--spacing-2);
  width: 300px;
}

.slider--vertical {
  flex-direction: row;
  gap: var(--spacing-4);
  height: 300px;
}

.slider--disabled {
  opacity: 0.5;
}

.slider__label {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  color: var(--color-slate-700);
  user-select: none;
}

.slider__value {
  font-size: var(--font-size-14);
  color: var(--color-slate-500);
  user-select: none;
}

.slider__control {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.slider__control--disabled {
  cursor: not-allowed;
}

.slider__track {
  position: relative;
  flex-grow: 1;
  background-color: var(--color-slate-200);
  border-radius: var(--spacing-1);
}

.slider__track--horizontal {
  width: 100%;
  height: var(--spacing-2);
}

.slider__track--vertical {
  width: var(--spacing-2);
  height: 100%;
}

.slider__range {
  position: absolute;
  background-color: var(--color-blue-500);
  border-radius: var(--spacing-1);
}

.slider__range--horizontal {
  top: 0;
  left: 0;
  height: 100%;
}

.slider__range--vertical {
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider__range--disabled {
  background-color: var(--color-slate-400);
}

.slider__thumb {
  position: absolute;
  width: var(--spacing-5);
  height: var(--spacing-5);
  background-color: var(--color-white);
  border: 2px solid var(--color-blue-500);
  border-radius: 50%;
  cursor: grab;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
  outline: none;
  transform: translate(-50%, -50%);
}

.slider__thumb--disabled {
  border-color: var(--color-slate-400);
  cursor: not-allowed;
}

.slider__thumb:active:not(.slider__thumb--disabled) {
  cursor: grabbing;
  transform: translate(-50%, -50%) scale(1.1);
}

.slider__thumb:focus-visible {
  box-shadow:
    0 0 0 3px var(--color-blue-tr10),
    0 1px 3px rgba(0, 0, 0, 0.1);
}

.slider__thumb--horizontal {
  top: 50%;
}

.slider__thumb--vertical {
  left: 50%;
}
